.masthead{
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.22);
}

.masthead__logo {
	display: block;
}

#leftnav{
	background: #FFFFFF;
}
