$main_font_size: 1.7em;
$main_text_color: #646C6C;

$heading_color: #0D5491;
$heading_font_size: 2.3em;

$subheader_color: #8C9191;

$button_font_size: 1.2em;
$button_text_color: #FFFFFF;

$link_color: #317BE1;

$box_background: #F4F4F4;

$break-mini: 400px;
$break-small: 695px;
$break-medium: 780px;
$break-large: 1226px;
