<div class="about">
	<h2>About</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quod animi possimus neque adipisci. Harum magnam blanditiis ut. Sed ut, recusandae culpa iusto cumque autem repellat repudiandae quae unde consectetur?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci rem, nemo soluta iste ratione mollitia voluptas sit, ex laboriosam animi officia totam. Facere officia voluptatibus necessitatibus, neque perspiciatis ex quidem.</p>
	<p>Lorem ipsum dolor sit amet, <a href="http://angular.github.io/protractor/#/api" class="docs">Go To The Docs</a> adipisicing elit. Facilis, unde blanditiis cupiditate, earum fugiat rerum quasi id porro voluptatibus nemo, labore perferendis nobis delectus vel ab, quod non doloribus officiis.</p>
</div>
